@import "../../styles/colorTheme.scss";

.newMessageInput {
  border: none;
}

.message {
  margin: 1rem 0 1rem 0;
}

.dropdown-toggle::after {
  display: none !important
}

.editMessageButton {
  background: transparent !important;
  border: none;
  &:hover {
    background: $primary !important;
  }
}

.editMessageDots {
  color: $primary;
}

.editMessageButton:hover .editMessageDots {
  color: white;
}

