@import "../../styles/colorTheme.scss";

.newMessageInput {
  border: none;
  padding: 0;
  resize: none;
  overflow: hidden;
  &:focus {
    box-shadow: none;
  }
}

.validationMessage {
  font-size: small;
  color: $danger;
}

.message {
  margin: 1rem 0 1rem 0;
}

.dropdown-toggle::after {
  display: none !important
}

.writeMessageButton {
  background: $primary !important;
  border: none;
  &:hover {
    background: transparent !important;
  }
}

.writeMessageIcon {
  color: white;
}

.writeMessageButton:hover .writeMessageIcon {
  color: $primary;
}

.editMessageButton {
  background: transparent !important;
  border: none;
  &:hover {
    background: $primary !important;
  }
}

.editMessageDots {
  color: $primary;
}

.editMessageButton:hover .editMessageDots {
  color: white;
}

