$primary: #000022;
$secondary: #7785AC;
$success: #83E8BA;
$info: #B2E6D4;
$warning: #f39c12;
$danger: #89043D;

//palette2
/*$primary: #7780ff;
$secondary: #caffff;
$success: #3bb143;
$info: #a1ffaf;
$warning: #f39c12;
$danger: #e74c3c;*/