@import "../../styles/colorTheme.scss";

.shoppingItem {
  margin-bottom: 0.5rem;
  border-radius: 5px;
  border: 1px solid $primary-soft !important;
  color: $primary;
}

.shoppingCol {
  padding: 0;
  text-align: left;
}

.inputField {
  border: none;
  border-bottom: 2px solid $primary;
  border-radius: 0;
  box-shadow: none !important;
  &:hover, &:focus {
    border-color: $primary;
  }
}

.input:focus {
  outline: none;
}

.trashButton {
  padding: 0.3em;
  background: transparent;
  border: 1px solid $primary-soft;
  display: flex;
  align-items: center;
  &:hover {
    background: $primary;
    border-color: $primary;
  }
}

.trashIcon {
  box-shadow: none !important;
  color: $primary-soft;
  &.active{
    box-shadow: none !important;
  }
}

.trashButton:hover .trashIcon {
  color: white;
}

.inputRow {
  align-items: center;
  padding-left: 1em;
}

.inputCol {
  padding: 0;
  display: flex;
  justify-content: center;
}

.numberInput {
  width: 3rem;
  padding: 0.2em;
  margin: 0;
  border: 1px solid $primary;
  border-radius: 5px;
  box-shadow: none;
}

.plusIcon {
  color: $primary;
  &:hover {
    color: $primary-soft;
  }
}

.validationMessage {
  padding-left: 2em;
  font-size: small;
  color: $danger;
}